<h1><%= @user.name %></h1>

<h3>Age: <%= @user.current_age %></h3>

<br>

<div>
  <h3>Followers</h3>

  <% if @user.followers.empty? %>
    No followers
  <% else %>
    <ul>
      <% @user.followers.each do |f| %>
        <li><%= link_to f.name, f %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<br>

<div>
  <h3>Following</h3>

  <% if @user.following.empty? %>
    <%= link_to 'Find friends to follow', users_path %>
  <% else %>
    <ul>
      <% @user.following.each do |f| %>
        <li><%= link_to f.name, f %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<br>

<div>
  <h3>Favorite Beers</h3>
  <ul>
    <% @user.highest_rated_beers.each do |b| %>
      <li><%= link_to b.name, b %> - Style: <%= b.style_name %></li>
    <% end %>
  </ul>
</div>

<br>

<div>
  <h3>Reviews</h3>
  <% if !(@user.reviews.empty?) %>
    <table>
      <thead>
        <th>Beer</th>
        <th>Brewery</th>
        <th>Review</th>
      </thead>

      <!-- Creates a table row for each of the user's reviews with links to the
      show pages for the beer, brewery, and review. -->
      <% @user.reviews.each do |r| %>
        <tr>
          <td>
            <%= link_to r.beer.name, r.beer %>
          </td>
          <td>
            <%= link_to r.brewery.name, r.brewery %>
          </td>
          <td>
            <%= link_to r.rating, r %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<br>

<div>
  <% if current_user == @user %>
    <div>
      <h3>Recommended Beers</h3>
      <% @user.suggested_beers.each do |s, v| %>
        <h5><%= s.name %></h5>
        <ul>
          <% v.each do |b| %>
            <li><%= link_to b.name, b %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <br>
    <%= form_tag user_path(@user), method: :delete do %>
      <%= submit_tag 'Delete User' %>
    <% end %>
  <% else %>
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  <% end %>
</div>
