<h1><%= @user.name %></h1>

<h3>Age: <%= @user.current_age %></h3>

<table>
  <thead>
    <th>Beer</th>
    <th>Brewery</th>
    <th>Review</th>
  </thead>

  <!-- Creates a table row with a link to both the beer and brewery show pages
  for each beer a user has reviewed -->
  <% @user.reviews.each do |r| %>
    <td>
      <%= link_to r.beer.name, r.beer %>
    </td>
    <td>
      <%= link_to r.brewery.name, r.brewery %>
    </td>
    <td>
      <%= link_to r.rating, r %>
    </td>
  <% end %>
</table>
