<h1>Beers</h1>

<!-- Search field to allow users to limit beers in index based on beer names -->
<%= form_tag('/beers', method: "get") do %>
  <%= label_tag(:beer_name, "Search for:") %>
  <%= text_field_tag(:beer_name) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @beers.each do |b| %>
    <li>
      <%= link_to b.name, b %><br>
      Brewery: <%= link_to b.brewery.name, b.brewery  %>
    </li>
    <br>
  <% end %>
</ul>
