<h1>Beers</h1>

<div>
  <h3>Most Reviewed Beer</h3>
  <%= link_to display_most_reviewed_beer.name, display_most_reviewed_beer %>
</div>

<br>

<div>
  <h3>Highest Rated Beers</h3>
  <ol>
    <% display_best_beers.each do |b| %>
      <li><%= link_to b.name, b %></li>
    <% end %>
  </ol>
</div>

<%= search_form_for @search do |f|%>
  <div class= "field">
    <%= f.label :name_cont, "Name contains:" %>
    <%= f.text_field :name_cont %><br>
    <%= f.label :brewery_name_cont, "Brewery name contains:"%>
    <%= f.text_field :brewery_name_cont %><br>
    <%= f.label :style_name_cont, "Style name contains:" %>
    <%= f.text_field :style_name_cont %>
  </div>
  <div class= "actions"><%= f.submit "Search"%></div><br>
<%end%>

<table id = "beers">
  <style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  th, td {
      padding: 8px;
      text-align: center;
  }
  table#t01 {
      width: 100%;
      background-color: #f1f1c1;
  }
</style>
  <tr>
    <th> <%= sort_link @search, :name, "Beer Name" %></th>
    <th> <%= sort_link @search, :brewery_id, "Brewery Name" %></th>
    <th> <%= sort_link @search, :style_id, "Style" %></th>
  </tr>
  <% @beers.each do |b|%>
    <tr>
      <td><%= link_to b.name, b %></td>
      <td><%= link_to b.brewery.name, b.brewery%></td>
      <td><%= b.style.name %></td>
    </tr>
  <% end %>

<%= will_paginate @beers %>
