<h1>Reviews</h1>


<h2>Five Star Beers</h2>
<ul>
  <% @fivestarbeers.each do |x| %>
  <li>
  <%= link_to x.beer.name, x.beer%><br>
</li>
  <%end%>
</ul>

<h2>Review Feed</h2>

<% if current_user.id %>
  <% if @reviews.empty? %>
    None of your friends have written reviews.
  <% else %>
    <ul>
      <% @reviews.each do |r| %>
        <li>
          Review: <%= r.content %><br>
          Beer: <%= link_to r.beer.name, r.beer  %><br>
          User: <%= link_to r.user.name, r.user %><br>
          Rating <%= r.rating %>
        </li>
        <br>
      <% end %>
    </ul>
  <% end %>
<% else %>
  Login to see reviews.
<% end %>
