<!DOCTYPE html>
<html>
  <head>
    <title>PitcherPerfect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <% if !(current_user.id.nil?) %>
        <button type="button"><%= link_to current_user.name, current_user %>
        <button type="button"><%= link_to 'Logout', logout_path %>
      <% else %>
        <button type="button"><%= link_to 'Login', login_path %>
      <% end %>
      <button type="button"><%= link_to "Beers", beers_path %></button>
      <button type="button"><%= link_to "Breweries", breweries_path %></button>
      <button type="button"><%= link_to "Reviews", reviews_path %></button>
      <button type="button"><%= link_to "Write a Review", new_review_url %></button>
    </div>

  </body>

  <body>
    <%= yield %>
  </body>
</html>
